<h2 class="title"> Password Generator</h2>
<div>
    <div class="generated-password">
      <input type="text" [value]="password" readonly />
      <!-- Clipboard icon and button -->
      <a class="clipboard-icon" ngxClipboard [cbContent]="password" (cbOnSuccess)="onCopySuccess()">
        <img src="assets/images/copy.svg" alt="Copy to Clipboard" />
      </a>
    </div>
  </div>
<div class="generated-password-wrap">
    <div>
        <div class="password-length">
            <span>Password Length:</span>
            <span class="length"> {{ length }}</span>
        </div>
      <input type="range" [(ngModel)]="length" min="6" max="20" />
    </div>
    <div class="checkbox-wrap">
      <input class="checkbox-input" type="checkbox" [(ngModel)]="includeUppercase" />
      <label class="checkbox-label">Include Uppercase:</label>
    </div>
    <div class="checkbox-wrap">
      <input class="checkbox-input" type="checkbox" [(ngModel)]="includeLowercase" />
      <label  class="checkbox-label">Include Lowercase:</label>
    </div>
    <div class="checkbox-wrap">
      <input class="checkbox-input" type="checkbox" [(ngModel)]="includeNumbers" />
      <label  class="checkbox-label">Include Numbers:</label>
    </div>
    <div class="checkbox-wrap">
      <input class="checkbox-input" type="checkbox" [(ngModel)]="includeSymbols" />
      <label  class="checkbox-label">Include Symbols:</label>
    </div>
    <div class="password-length-wrap">
      <label class="password-title">Password Strength:</label>
      <div class="password-strength-meter">
        <password-strength-meter [password]="password" enableFeedback />
      </div>
    </div>
    <div>
      <button (click)="generatePassword()">Generate Password</button>
    </div>
  </div>