.generated-password-wrap {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #24232c;
}
.title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  input[type="range"] {
    width: 100%;
  }
  
  button {
    padding: 16px 16px;
    border: #4caf50;
    color: white;
    border: 1px solid #4caf50;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: none;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  
  .generated-password,
  .password-strength {
    margin-top: 10px;
  }
  
  .password-strength label {
    display: block;
    margin-bottom: 5px;
  }
  
  .password-strength span {
    font-weight: bold;
    color: #007bff;
  }
  

  .strength-indicator {
    margin: 8px 0px 18px;
    background-color: #000;
    color: #fff;
    padding: 14px 10px;
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    label{
      margin-bottom: 0;
      float: left;
      font-family: Arial, Helvetica, sans-serif;
    }
    
  }
  
  .strength-bar {
    display: flex;
  }
  
  .strength-block {
    flex-grow: 1;
    height: 20px;
    margin-right: 5px;
    border-radius: 4px;
  }
  
  .low {
    background-color: #ff3333; /* Red */
  }
  
  .medium {
    background-color: #ffcc00; /* Orange */
  }
  
  .strong, .very-strong {
    background-color: #33cc33; /* Green */
  }
  .generated-password {
    display: flex;
    background: #24232c;
    align-items: center;
    justify-content: space-between;
    padding: 14px 21px;
    margin-bottom: 20px;
    input[type="text"] {
        width: 85%;
        border: none;
        box-sizing: border-box;
        background: none;
        color: #fff;
        font-size: 27px;
        font-weight: 500;
      }
      .clipboard-icon {
        width: 25px;
      }
  }
  .password-length {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .length {
    font-size: 27px;
  }
  .checkbox-wrap {
    display: flex;
    align-items: center;
    padding-bottom:10px;
    margin-top: 10px;
    .checkbox-input {
        accent-color: #a9feb5;
        border: 1px solid #a9feb5;
        width: 19px;
        height: 19px;
        margin-right: 10px;
    }
  }
  .password-title {
    font-size: 17px;
    margin-right: 10px;
    margin-bottom: 0;
    color: #fff;
  }
  .password-length-wrap {
    display: flex;
    background: #334156;
    padding: 15px;
    margin-bottom: 20px;
    justify-content: space-between;
  }
.checkbox-label {
  color: #fff;
}
::ng-deep {
  .password-strength-meter {
    width: 40px;
    .psm__progress-bar-item {
      width: 25% !important;
    }
  }
  .psm__progress-bar {
    height: 24px !important;
    margin: 0px !important;
    .psm__progress-bar-items {
      justify-content: space-between !important;
      .psm__progress-bar-item {
        flex: 1 !important;
      }
    }
    .psm__progress-bar-overlay {
      height: 24px !important;
      border-radius: 0px !important;
    }
  }
}